
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 77, 115);
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-around; 
    align-items: center; 
    overflow-x: auto; 
    padding-bottom: 20px;
}
.product {
    flex: 0 0 auto; /* Prevent products from growing or shrinking */
    margin: 10px; /* Adjust margin to your preference */
    text-align: center;
    /* width: 200px; You can comment this out or adjust it if necessary */
}

.slogan {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}
.product img {
    width: 100%;
    border-radius: 5px;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    margin-top: 5px;
}

.buy {
    display: block;
    width: 100%;
    padding: 8px 0;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.buy:hover {
    background-color: #45a049;
}
